index.html -linguist-detectable
bench/** -linguist-detectable
dist/** -linguist-detectable
doc/** -linguist-detectable
test/** -linguist-detectable
demo/** -linguist-detectable
task/** -linguist-detectable
